.red-line {
    position: absolute;
    width: 100%;
    border-top: 2px solid red;
    z-index: 5;
}

.red-line::before {
    content: "";
    position: absolute;
    display: block;
    top: -4px;
    left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}